@import 'var';
.navbar {
    background-color: $navbar-background-color;
    a {
        color: $navbar-color;
        text-decoration: none;
    }
    .navbar-item {
        color: $navbar-color;
        flex-grow: 0;
        padding: 0.75em 1em;
        cursor: pointer;
        &.brand {
            font-weight: bold;
        }
        &.is-active:not(.brand) {
            background-color: $navbar-item-active;
        }
        &:hover:not(.brand) {
            background-color: $navbar-item-hover;
        }
    }
}