@import 'color';
$mobile-width: 768px !default;
$body-background-color: $oc-white !default;
$body-size: 14px !default;
$body-family: Helvetica, sans-serif !default;
$body-color: $oc-black !default;
$body-line-height: 1.5 !default;
$navbar-color: $oc-white !default;
$navbar-background-color: $oc-blue-6 !default;
$navbar-item-active: $oc-blue-7 !default;
$navbar-item-hover: $oc-blue-8 !default;