{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
      }
    ],
    [
      "stage-2"
    ],
    [
      "react"
    ]
  ],
  "plugins": [
    [
      "transform-async-to-generator"
    ],
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }]
  ]
}